{
  "version": 2,
  "projects": {
    "studio": {
      "root": "apps/studio",
      "projectType": "application",
      "targets": {
        "develop": {
          "executor": "@nrwl/workspace:run-commands",
          "options": {
            "commands": [
              {
                "command": "yarn dev"
              }
            ]
          }
        }
      }
    },
    "web": {
      "root": "apps/web",
      "projectType": "application",
      "targets": {
        "develop": {
          "executor": "@nrwl/workspace:run-commands",
          "options": {
            "commands": [
              {
                "command": "yarn dev"
              }
            ]
          }
        }
      }
    }
  }
}
