// This is the project stylesheet

// Colors
$fire-brick: rgba(205, 24, 21, 1);
$transparent-black: rgba(0, 0, 0, 0.04);
$transparent-white: rgba(255, 255, 255, 0);
$white: rgba(255, 255, 255, 1);


// Typographies
@mixin acme-gothic-51-semi-bold {
  font-family: "Acme Gothic";
  font-size: 51px;
  font-weight: 600;
  line-height: 40px;
}
@mixin acme-gothic-96-regular {
  font-family: "Acme Gothic";
  font-size: 96px;
  font-weight: 400;
  line-height: 110px;
}