/* This is the project stylesheet */

:root {
  /* Colors */
  --black: rgba(35, 31, 32, 1);
  --black-2: rgba(0, 0, 0, 1);
  --black-primary: rgba(35, 35, 35, 1);
  --black-secondary: rgba(57, 64, 64, 1);
  --fire-brick: rgba(205, 24, 21, 1);
  --gainsboro: rgba(229, 229, 229, 1);
  --grayscale-off-black: rgba(20, 20, 43, 1);
  --grayscale-off-white: rgba(252, 252, 252, 1);
  --grey-secondary: #9dadad;
  --primary-default: rgba(255, 0, 0, 1);
  --silver: rgba(196, 196, 196, 1);
  --transparent-black: rgba(0, 0, 0, 0.04);
  --transparent-silver: rgba(196, 196, 196, 0.25);
  --transparent-white: rgba(255, 255, 255, 0);
  --transparent-white-smoke: rgba(239, 240, 246, 0.1);
  --white: rgba(255, 255, 255, 1);
  --white-smoke: #f1f1f1;
}
